h1 {
  font-size: 3rem; /* Adjust the size as needed */
  margin-bottom: 15px;
  color: white; /* White color for heading */
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); /* Subtle text shadow for readability */
  font-weight: bold; /* Make the h2 bold */
  font-size: 5000;
}

/* Description text (p) style */
p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: black; /* Set p color to black */
  font-weight: bold; /* Normal weight for paragraph */
}

/* Explore button style */
.explore-btn {
  background-color: #0dbb0a; /* Bright green for eye-catching button */
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1.1rem;
  border-radius: 30px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

/* Hover effect for button */
.explore-btn:hover {
  background-color: #ff4a3c; /* Slightly darker shade for hover effect */
}
